<h1>{{title}}</h1>
<form action="/notes" method="post">
    <!-- TODO use action variable -->
    <!-- TODO prefill fields -->
    <div>
        <label for="inputTitle">Title</label>
        <input type="text" id="inputTitle" name="title"/>
    </div>
    <div>
        <label for="inputDescription">Description</label>
        <textarea id="inputDescription" name="description"></textarea>
    </div>
    <div>
        <label for="inputImportance">Importance</label>
        <input type="number" id="inputImportance" name="importance" min="1" max="5"/>
    </div>
    <button type="submit">Save</button>
    <a href="/">Cancel</a>
</form>
