body {
    background-color: #222222;
    color: #bbbbbb;
}

a {
    color: greenyellow;
}

input:not([type='checkbox']),
textarea,
select {
    background-color: rgba(232, 232, 232, 0.27);
    color: white;
}

.button {
    color: greenyellow;
}

.button:hover,
.button:focus {
    background-color: white;
}